body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8;
  letter-spacing: 3px;
  background: #000;
  color: aliceblue;
  font-family:'Turret Road', sans-serif;
  

}

a {
  color: white; /* Change this to the color you want */
}

a:hover {
  color: wheat; /* Change this to the color you want */
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.header, .footer {
  background: rgba(0, 0, 0);
  color: #f2f2f2;
  padding: 15px;
  z-index: 1; 
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .header nav ul {
    flex-wrap: wrap; /* Add this line */
  }
}

.header nav ul li {
  flex: 1;
}

.header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: wheat; /* Change this to the color you want */
}

.header nav ul li.boxed {
  border: 1px solid white; /* Add this line */
  border-radius: 5px; /* Add this line */
  margin: 5px; /* Add this line */
}

#section1 {
  margin: 0%;
}

#section2 {
  background-color: #000;
  height: 50px; /* Adjust as needed */
  margin-top: 50px;
}

#section3 {
  background-image: url('imgs/backbook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; /* Adjust as needed */
  position: relative; /* Needed to position the button */
}

#section33 {
  background-color: #000;
  height: 9%; /* Adjust as needed */
  margin-top: 50px;
  
}

@media (max-width: 768px) {
  #section33 {
    margin-top: 5px;
    padding: 7px;
  }
}
/* Button in the Second Section */
.our-trainers-btn {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .our-trainers-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .our-trainers-btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
}

@media (max-width: 768px) {
  #section2 {
    height: 200px; /* Adjust as needed for smaller screens */
  }

  #section3 {
    height: 400px; /* Adjust as needed for smaller screens */
  }
}

@media (max-width: 480px) {
  #section2 {
    height: 150px; /* Adjust as needed for even smaller screens */
  }

  #section3 {
    height: 300px; /* Adjust as needed for even smaller screens */
  }
}

@keyframes textFadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.text-box.animated {
  animation: textFadeInUp 2s ease-in-out;
}

/* ... */
#section1 {
  position: relative;
  overflow: hidden;
  margin: 0%; /* To contain the zoom effect */
}

.parallax {
  position: relative;
  width: 100%;
  transition: transform 2s ease-in;
  /* The image used */
  background-image: url("ugh\ beans.png");
  min-height: 550px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.start-training-btn {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(51, 51, 51);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .start-training-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .start-training-btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

/* ... */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.fixed-button {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 5%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .fixed-button {
    padding: 10px 20px;
    font-size: 20px;
    top: 2%;
    left: 85%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .fixed-button {
    padding: 14px 26px;
    font-size: 18px;
    top: 2.5%;
    left: 85%;
  }
}

.fixedd-button {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  z-index: 1;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .fixedd-button {
    padding: 10px 20px;
    font-size: 16px;
    left: 50%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .fixedd-button {
    padding: 14px 26px;
    font-size: 16px;
    left: 50%;
  }
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 400px;
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-direction: column;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Change this from 'cover' to 'contain' */
}
.slide.active {
  opacity: 1;
  transition: opacity 1s;
}

.slider-button {
  position: absolute;
  bottom: 4%;
  background-color: wheat;
  color: black;
  border: rgb(0, 0, 0) solid 2px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px; /* Makes the button rounded */
  font-family: 'Courier New', Courier, monospace; /* Changes the font */
  text-emphasis: bold; /* Makes the text bold */
}

@media (max-width: 600px) {
  .slider-button{
    bottom: 19%;
  }
}

.slider-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-nav button {
  background-color: #fff;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .slider-button {
    padding: 5px 10px;
  }

  .slider-nav button {
    margin: 0 5px;
  }
}

.slider-container {
  position: relative;
  height: 50vh; /* Adjust this value as needed */
}

#sliderSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ... existing CSS ... */
